body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0px;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 5px 150px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
}

.social-media a {
    text-decoration: none;
    color: rgb(85, 85, 85);
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 5px;
    padding: 8px 10px;
    display: inline-block;
    transition: all 0.3s ease;
}

.social-media a:hover {
    background-color:  #1877F2;
    color:white;
}

.nav-search {
    display: flex;
    align-items: center;
}

.nav-search input {
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    padding: 7px 15px;
    outline: none;
}

.nav-search button {
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background-color: #fff;
    padding: 7px 15px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-search button:hover {
    background-color: #1877F2;
    color: white;
}

/* panel */
.panel {
    margin: 20px auto;
    text-align: center;
}

.panel span {
    font-size: 50px;
    color: #001BB7;
}

.panel-all {
    font-size: 50px;
    margin: 0;
}

.panel p {
    margin: 5px 0 0 0;
    color: grey;
}

/* Navbar2 */
.Navbar2 {
    padding: 10px 0;
    background: #001BB7;
    text-align: center;
    margin-top: 20px;
}

.Navbar2 a {
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    color: white;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.Navbar2 a:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    opacity: 0.95;
    background: linear-gradient(135deg, #0046FF, #0046FF, #0046FF);
    color: #fff;
}

.nav-second {
    position: relative;
    display: inline-block;
}

.nav-cart {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #A3CCDA;
    display: none;
    min-width: 150px;
    border-radius: 5px;
    overflow: hidden;
    animation: fadeIn 0.3s ease-in-out;
}

.nav-second:hover .nav-cart {
    display: block;
}

.nav-cart a {
    color: white;
    padding: 10px 15px;
    display: block;
    text-align: left;
    transition: 0.3s;
}

.nav-cart a:hover {
    background-color: #1877F2;
    color: white;
    transform: scale(1.05);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*  Main-Section */
.Main-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    background-color: #EFECE3;
    flex-wrap: wrap;
}

.Main-Section img {
    width: 270px;
    height: 240px;
    border-radius: 20px;
}

.title {
    color: black;
}

/* hero-section*/
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 100px;
    text-align: center;
    color: white;
    margin: 10px;
    border-radius: 5px;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.box1 {
    background-color: #f15a24;
}

.box2 {
    background-color: #1877F2;
    color: white;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.icon {
    font-size: 30px;
    margin-bottom: 10px;
}

/* shop-section*/
.shop-section {
    text-align: center;
    margin: 30px auto;
}

.box-content {
    font-size: 26px;
    margin-bottom: 30px;
    color: #333;
}

.box-content2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 270px;
    height: 350px;
    background-color: #a6a6a6;
    border-radius: 10px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-image: repeating-linear-gradient(45deg, #999 0 10px, #aaa 10px 20px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
    background-image: repeating-linear-gradient(45deg, #888 0 10px, #999 10px 20px);
}

.card h2 {
    font-size: 20px;
    font-weight: bold;
}

.card p {
    font-size: 14px;
    color: #f0f0f0;
}

.box-content3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.read {
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.read:hover {
    color: yellow;
    text-decoration: underline;
}

.icons span {
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.icons span:hover {
    color: #ffcc00;
    transform: scale(1.2);
}

/* Footer  */
.footer{
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
}

.footer img {
    width: 270px;
    height: 240px;
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 5px;
}

.text-content h1 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 35px;
}

.text-content p {
    font-size: 15px;
    color: #666;
    line-height: 1.5;
    max-width: 500px;
}

/* foot-panell */
.foot-panell {
    background-color: #222f3d;
    color: #ddd;
    padding: 20px 100px;
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px 20px;
}

.footer-section h2 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-section p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
    transition: 0.3s;
}

.footer-section ul li i {
    color: #1877F2;
    margin-right: 10px;
}

.footer-section ul li:hover {
    color: #1877F2;
    transform: translateX(5px);
}

.footer-section .fa-house,
.footer-section .fa-phone,
.footer-section .fa-envelope {
    color: #1877F2;
    margin-right: 10px;
}

.footer-concat{
    display: flex;
}

.underlone{
    margin: 0px 0px auto;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {

    .banner-container,
    .card-container,
    .card-footer-container {
        flex-direction: column;
        text-align: center;
    }

    .card-footer-container img {
        margin: 0 0 20px 0;
    }

    .Navbar a {
        display: block;
        margin: 10px 0;
    }

    .menucontant {
        position: static;
    }

    .footer-container {
        flex-direction: column;
        text-align: left;
    }
}